body{

    font-family: Arial, Helvetica, sans-serif;

    background:#f4f4f4;

    margin:30px;

}

h1{

    text-align:center;

    color:#0b5394;

}

table{

    width:100%;

    border-collapse:collapse;

    background:white;

}

th{

    background:#0b5394;

    color:white;

    padding:12px;

}

td{

    padding:15px;

    vertical-align:top;

}

.center{

    text-align:center;

}

img{

    border-radius:8px;

}

video{

    border-radius:8px;

}

iframe{

    border-radius:8px;

}

audio{

    width:250px;

}